* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  box-sizing: border-box;
}

/* Navigation Sesction  */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

.logo {
  flex-grow: 1;
}

.navbrand-logo {
  max-width: 30%;
}

#nav-bar {
  flex-grow: 2;
  max-width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Hero Section */
.hero-section {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email {
  max-width: 272px;
  width: 100%;
  margin-bottom: 1%;
}

/* Features Section */

.features {
  max-width: 60%;
  margin: 0 auto;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.icon-section {
  height: 50px;
  width: 50px;
}

.description {
  margin-left: 10%;
}

#vid-container {
  margin: 3% auto;
  width: 40%;
}

#video {
  width: 100%;
  max-width: 560px;
}
